# Project
/database/dev.db

# byte-compiled / optimized / DLL files
*.py[cod]

# distribution / packaging
/build/
/dist/
*.egg-info/

# coverage
/.coverage

# npm
/node_modules/
*.log

# Editor & IDE
/.idea/
*.swp
